
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {


}

@media (max-width: 767px) {

}



@media (min-width: 1000px) {
    .shopping-tools-div {position: relative}
    /* Start Home Team Section */
    .team_work_section div.team_card {object-fit: cover;-webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);transform-origin: center;transform: perspective(800px) rotateY(25deg);}
    .team_work_section:hover div {opacity:0.3;}
    .team_work_section div.team_card:hover{transform:perspective(800px) rotateY(0deg);opacity:1;}
    .team_work_section div.team_card:hover div.member_image {opacity:1;}
    .team_work_section div.team_card:hover div.team_card_details {opacity:1;}
    /* End Home Team Section */

}
@media (max-width: 575px) {
    /* Start Overall */
    h1, h3 {font-size: 1.7em;}
    h2, h4{font-size: 1.2em!important;}
    h5 {font-size: 1em!important;}
    /* End Overall */

    /* Start Header */
    nav.lower-nav {padding: 0!important;margin-bottom: 0;z-index: 500;}
    .navbar-brand {margin-left: 0}
    .navbar-brand img{width: 80px;margin-top: -11px;margin-bottom: 7px;margin-left: 0;}
    .shopping-tools-div {}
    .shopping-tools {position: absolute;top: 13px;right: 5%;}
    .sidebar1-open-menu {display: inline-block;font-size: 27px;color: black;padding-top: 17px;}
    .sidebar2 {display: block}
    .shopping-tools .pc_compare img{width: 30px!important;}
    .shopping-tools .dropdown-toggle {display: inline-block}
    .shopping-tools .dropdown-toggle ul.dropdown-menu{display: block}
    /* End Header */
    /* Start Footer */
    footer .socialist {width: 100%;}
    footer p {color: #fff;padding-right: 0;}
    /* End Footer */

    /* Start Projects */
    .projects_container .project_card {box-shadow: 0 15px 25px rgb(0 0 0 / 50%);margin-top: 10px}
    /* End Projects */

    /* Start Blog */
    .news_letter {margin-top: 34px!important;}
    .news_letter .headline_div{margin-top: 69px!important;margin-bottom: 2rem !important;}
    .news_paper .card__body p {line-height: 26px;font-size: 17px}
    .news_paper .card__body {padding: 11px 1rem 0 1rem;}
    .article_div {text-align: left}
    /* End Blog */

    /* Start Products */
    #products_section {margin-top: 1.9rem!important;}
    .products-header {margin-bottom: 23px!important;}
    .filter-tope-group {margin-top: 1rem !important;}
    .filter-tope-group button{padding-right: 10px!important;padding-left: 10px!important;font-size: 16px;margin: 2px 0;}
    /* End Products */

    /* Start clients */
    .client {margin: 0!important;padding: 0!important;}
    .clients_div {padding: 0!important;}
    /* End client */

    /* Start Services */
    .service_card .card-body {padding: 20px 5px;}
    /* End Services */

    /* Start Counter */
    .no-gutters div.single_count {width: 50%; text-align: center!important;}
    .counter_section .odometer.odometer-auto-theme, .odometer.odometer-theme-default {line-height: .8em;}
    .counter_section .funfact-one__single {padding-top: 30px!important;position: relative;}
    .funfact-one.jarallax {padding: 30px 0}
    .funfact-one__single {border: none!important;}
    .funfact-one__single_1 {margin-bottom: 30px!important;}
    .funfact-one__single_2 {margin-bottom: 30px!important;}
    .funfact-one__single_3 {border-top: 1px solid rgba(255, 255, 255, 0.2)!important;}
    .funfact-one__single_4 {border-top: 1px solid rgba(255, 255, 255, 0.2)!important;}

    /* End Counter */

    /* Start Sign in Modal */
    .modal_bg img {display: none}
    .modal#sign .or {width: 220px;margin: 0 98px;}
    .modal#sign .fb_btn {margin: 0 14px;width: 42%;padding: 12px 2px;}
    .modal#sign .google_btn {width: 42%;padding: 12px 10px;}
    .user-address {margin-top: 20px;}
    /* End Sign in Modal */

    /* Start Out Header */
    .out-header {margin-top: 0!important;}
    .out-pages-header h5 {padding: 79px 11px}
    .row.no-gutters {min-height: 179px!important;}
    .row.no-gutters .headline_div{height: 179px;}
    /* End Out Header */

    /* Start About us */
    .about_section {margin-top: 2rem}
    /* End About us */

    /* Start Cart */
    .cart-item-info {width: 350px; text-align: left}
    .cart-item-info img {margin: 0 20px;}
    .cart-page .cart-items {text-align: center;margin: 20px 20px;}
    .cart-items {overflow-x: auto;}
    .cart-page .total-info a.btn-complete-order {width: 100%;}
    div.money_amount {width: 150px;}
    div.main_page_quantity {width: 185px;}
    div.main_page_subtotal {width: 150px;}
    .update-div {margin: 20px 20px;}
    .update .btn-update {width: 100%;}
    .total-info {margin: 30px 20px 0 20px;}
    .cart-subtotal td {text-align: center}
    .checkout-page .pill-form {margin: 0}
    /* End Cart */

    /* Start Order Complete Page */
    .order-completed-page .order-info-mob {display: table;}
    .order-completed-page .order-info-pc {display:none;}
    .order-completed-page {margin: 1.5rem 15px 0 15px;}
    .order-completed-page .order-details-card, .order-completed-page .ship-pill-details {width: 100%;margin: 0;}
    .order-completed-page .order-details {margin: 30px 0 0 0;}
    .order-details-card .card-body table tbody tr .title {width: 75%}
    .order-details-card .card-body table tbody tr .content {width: 25%; text-align: center}
    .order-completed-page .order-details .card {margin-top: 20px;}
    /* End Order Complete Page */

    /* Start Wish List */
    .wish-list-items {margin: 0;}
    .wish-list .card {padding-bottom: 0!important;width: 49% !important;margin: 0}
    .wish-list .card .card-body {margin-top: -87px;margin-bottom: 0;padding: 0 !important;}
    .wish-card .card-body .product_price {padding-top: 0 !important;}
    .wish-card .card-body .card-text {padding: 0 !important;}
    /* End Wish List */

    /* Start Track Order */
    .track-order .main {padding: 5px 5px;}
    .status {padding: 6px;}
    /* End Track Order */

    /* Start Team Members */
    .team_work_section .member_image {width: 69%;height: 91%;margin: 0 auto;padding: 5px;border-radius: 50%;}
    .team_work_header {margin-bottom: 0 !important;}
    .team_work_section {margin-top: 5px; display: inline-block}
    .team_work_section .team_card {width: 49%; display: inline-block}
    /* End Team Members */


    /* Start Product Details */
    .add-to-cart-btn {width: 84%;}
    .product-details {margin-top: 0!important;}
    .more_product_details_nav .nav-link {padding: 0.5rem 1rem;}
    .related_product {margin: auto 0;}
    .related_products .product_card {padding-bottom: 20px !important;width: 48% !important;}
    .related_products .product_card .discount-patch span {left: 2px;}
    /* End Product Details */

    /* Start Service Order */
    .apply_form .btn_submit {width: 100%}
    /* End Service Order */

    /* Start Dashboard */
    .user-hi p {font-size: 16px;}
    .user-hi a {font-size: 17px;}

    .user-orders {overflow-x: auto;}
    .payment-img {height: 17px;}
    /* End Dashboard */


    /* Start Contact Us */
    .contact-us .container .row.mt-5 {margin-top: 1rem!important;}
    /* End Contact Us */

    .service_card {width: 86%!important;}

    .service_card {width: 48%!important;}
    .service_card  .card-text {font-size: 17px;padding: 0}
    .service_card  .card-title {font-size: 20px;font-weight: bold}

    .clients_section {margin-top: 0!important;}
    .list-inline-item:not(:last-child) {margin-right: 0.1rem!important;}
    .team_work_list .social-link {width: 21px;}
    .team_card_details {padding-left: 0!important;padding-right: 0!important;}
    .social {margin-top: 5px!important;}
    .team_under_head {width: 90%;margin: auto}
    .section_our_solution {margin-top: 0!important;}
    .post {margin:20px auto auto}
    .post a {text-decoration: none}
    .post a:hover {text-decoration: none;color: #000;}
    footer section div.row {margin: 0 10px!important;}
    footer .services_footer {padding: 0 10px!important;}
    footer h1.hover-underline-animation {line-height: 64px;}
    footer h1.hover-underline-animation:after {transform: scaleX(1);transform-origin: bottom left;}
    footer .services_footer_menu li a {font-size: 15px}
    .services_menu_line ul li {line-height: 20px!important;}
    footer h1 {font-size: 2.0rem}
    .social_footer_menu li {width: 50px;}
    .fb_img, .twitter_img, .linkedin_img {width: 50px;}
    .whats_img {width: 48px;}
    .location_img {width: 36px;}
    .mail_2_img {width: 54px;}
    .be_in_touch {padding: 0!important;}
    .last_part p {font-size: 13px}
    .reviews_section {margin-top:15px!important;}
    .event-details {padding: 9px 10px 0 21px!important;width: 100%;    margin-top: 0;}
    .event-p {line-height: 26px;width: 100%;font-size: 15px;}
    .read-more {font-size: 14px;border-radius: 24px;padding: 13px 22px;}
    .bg_event {min-height: 472px!important;}
    .mobile_share_item, .lang_list_head {display: inline-block!important;}
    .lang-link {margin-right: 0;}
    .nav-link {padding: 0 0 0 3px}
    .mobile_share_item .nav-link::after {margin-left: 0.155em;display: none}
    .phone_toggle {font-size: 15px}
    .mobile_share_item .dropdown-item {padding: 0.25rem 0.4rem!important;}
    .mobile_share_item .dropdown-item:hover, .mobile_share_item .dropdown-item:focus{background: #2761ab;color: #fff;}
    .upper-contact-items {display: none}
    .mobile_share_item .nav-link , .lang_list_head .nav-link  {color: #000;}
    .lang_list_head .nav-link  {color: #000;margin-top: 38px;}
    .lang_list_head .nav-link .flag{margin-bottom: 0;width: 27px;height: 21px;margin-left: 2px;}
    .logo_container {padding-right: 5px;padding-left: 5px;}
    .logo_container .row{display: flex!important;}
    .logo_container .row div{text-align: left;}
    .open_menu_image {width: 39px;height: 48px;}
    .pc_logo {display: none}
    .projects_section .card {margin: 0 20px}
    .side_bar_contact_div {top: 30%;border: none;right: 3.4%;}



    /* Start Footer Only */
    .mobile_footer {display: block}
    .pc_footer {display: none}
    footer.mobile_footer  {background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
    footer.mobile_footer h5 {font-size: 20px; color: #fff; font-weight: bold}
    footer.mobile_footer h1 {font-size: 2.2rem; color: #fff; }
    /*footer h1 {font-size: 20px; color: #fff; font-weight: bold}*/
    footer.mobile_footer section div.row{margin: 0 100px}
    footer.mobile_footer i {font-size: 18px;}
    footer.mobile_footer button  {margin:10px 0 0 0;width: 100%}
    footer.mobile_footer button:hover  {background-color: #2761ab}
    .mobile_footer .last_part {background:rgba(0,0,0,.5); }
    .mobile_footer .last_part p {padding: 5px 0}
    .mobile_footer .top_part img {width: 131px;padding: 10px;background: #fff;border-radius: 22px;margin: -35px 13px 0 0;}
    .mobile_footer .top_part p {font-size: 9px;line-height: 23px;}
    .mobile_footer .top_part h1 {font-weight: bold;line-height: 0;margin-top: 19px;font-size: 2rem;}
    footer.mobile_footer  .services_footer h1{color: #fbb03d;font-weight: bold}
    footer.mobile_footer  p {color: #fff;margin-bottom: 0;}
    footer.mobile_footer  span {color: #fff;font-weight: normal;}
    footer.mobile_footer  ul  {padding-left: 0}
    footer.mobile_footer  ul li {line-height: 30px; display: inline-block}
    footer.mobile_footer  h1.hover-underline-animation {display: inline-block;position: relative;text-decoration: underline;text-underline-offset: 17px;line-height: 71px;}
    footer.mobile_footer  h1.hover-underline-animation:after, .services_footer_menu .hover-underline-animation:after {content: '';position: absolute;width: 100%;transform: scaleX(0);height: 5px;bottom: 0;left: 0;background-color: #f2cf5c;transform-origin: bottom right;transition: transform 0.25s ease-out;}
    footer.mobile_footer  h1.hover-underline-animation:hover:after {transform: scaleX(1);transform-origin: bottom left;}
    .mobile_footer .services_footer_menu .hover-underline-animation {display: inline-block;position: relative;line-height: 43px;}
    .mobile_footer .services_footer_menu .hover-underline-animation:hover:after {transform: scaleX(1);transform-origin: bottom left;}
    .mobile_footer .services_footer_menu li {display: list-item;list-style: inside}
    .mobile_footer .social_footer_menu li {display: inline-block;width: 70px;text-align: center }
    .mobile_footer .social_footer_menu a { color: #fff; text-decoration: none}
    .mobile_footer .fb_img, .twitter_img, .linkedin_img {width: 57px;}
    .mobile_footer .whats_img {width: 61px;}
    .mobile_footer .location_img {width: 44px;}
    .mobile_footer .behance_img {width: 62px;}
    .mobile_footer .social_footer_menu ul {padding-right: 0}
    .mobile_footer .services_menu_line ul li {line-height: 24px!important;}
    footer.mobile_footer h1.quick_h1 {font-size: 23px}

    /* End Footer Only */

    /* Start Events Carousel */
    .events_carousel {margin-top: 6rem}
    .event-details {margin-right: 19px}
    .event-details h1{font-size: 1.3em}
    /* End Events Carousel */

    /* Start About us  */
    .about_section .headline_div {margin-top: 2rem!important;}
    .setting_desc {padding-right: 0;margin: 1rem !important;}
    .about_section div.space{height: 17px}
    .service_title h1{margin-top: 1rem;font-size: 29px}
    .mobile_view_single_service {display: block}
    .pc_view_single_service {display: none}

    /* End About us */

    /* Start Jobs */
    .job_card {border-right: none}
    /* End Jobs */

    /* Start Product Card */
    .product_card {padding-bottom: 20px!important;width: 50% !important}
    .product_card .discount-patch {width: 30px;height: 29px;top: 6px;left: 5px;}
    .product_card .discount-patch span{left: 4px;font-size: 12px;top: 5px;}
    .product_card .product_info {padding-bottom: 13px!important;}
    .product_card .product_info .block1-wrap-icon {bottom: 7px;}
    .product_price {padding-top: 14px!important;}
    .product_price span{font-size: 15px;}
    /* End Product Card */

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {



}


/*media query start */

/*less than 575px*/
@media only screen and (max-width:380px)
{

}


/*less than 575px*/
@media only screen and (max-width:575px)  and (min-width: 380px)
{

}

/*less than 767px*/
@media only screen and (max-width:768px) and (min-width:575px)
{
    .service_card {width: 86%!important;}

    .service_card {width: 48%!important;}
    .service_card  .card-text {font-size: 17px;padding: 0}
    .service_card  .card-title {font-size: 20px;font-weight: bold}

    .clients_section {margin-top: 0!important;}
    .list-inline-item:not(:last-child) {margin-right: 0.1rem!important;}
    .team_work_list .social-link {width: 21px;}
    .team_card_details {padding-left: 0!important;padding-right: 0!important;}
    .social {margin-top: 5px!important;}
    .team_under_head {width: 90%;margin: auto}
    .section_our_solution {margin-top: 0!important;}
    .post {margin:20px auto auto}
    .post a {text-decoration: none}
    .post a:hover {text-decoration: none;color: #000;}
    footer section div.row {margin: 0 10px!important;}
    footer .services_footer {padding: 0 10px!important;}
    footer h1.hover-underline-animation {line-height: 64px;}
    footer h1.hover-underline-animation:after {transform: scaleX(1);transform-origin: bottom left;}
    footer .services_footer_menu li a {font-size: 17px}
    .services_menu_line ul li {line-height: 20px!important;}
    footer h1 {font-size: 2.0rem}
    .social_footer_menu li {width: 50px;}
    .fb_img, .twitter_img, .linkedin_img {width: 50px;}
    .whats_img {width: 48px;}
    .location_img {width: 36px;}
    .mail_2_img {width: 54px;}
    .be_in_touch {padding: 0!important;}
    .last_part p {font-size: 15px}
    .reviews_section {margin-top:15px!important;}
    .event-details {padding: 9px 10px 0 21px!important;width: 100%;    margin-top: 0;}
    .event-p {line-height: 26px;width: 100%;font-size: 15px;}
    .read-more {font-size: 14px;border-radius: 24px;padding: 13px 22px;}
    .bg_event {min-height: 472px!important;}
    .mobile_share_item, .lang_list_head {display: inline-block!important;}
    .lang-link {margin-right: 0;}
    .nav-link {padding: 0 0 0 3px}
    .mobile_share_item .nav-link::after {margin-left: 0.155em;display: none}
    .phone_toggle {font-size: 15px}
    .mobile_share_item .dropdown-item {padding: 0.25rem 0.4rem!important;}
    .mobile_share_item .dropdown-item:hover, .mobile_share_item .dropdown-item:focus{background: #2761ab;color: #fff;}
    .upper-contact-items {display: none}
    .mobile_share_item .nav-link , .lang_list_head .nav-link  {color: #000;}
    .lang_list_head .nav-link  {color: #000;margin-top: 38px;}
    .lang_list_head .nav-link .flag{margin-bottom: 0;width: 27px;height: 21px;margin-left: 2px;}
    .navbar-brand img{width: 150px;margin-top: -5px;margin-bottom: 13px;margin-left: 0;}
    .side_bar_list_img {margin-right: 237px!important;}
    .logo_container {padding-right: 5px;padding-left: 5px;}
    .logo_container .row{display: flex!important;}
    .logo_container .row div{text-align: left;}
    .open_menu_image {width: 39px;height: 48px;}
    .pc_logo {display: none}
    .projects_section .card {margin: 0 20px}
    .sidebar1 {width: 361px}
    .side_bar_contact_div {top: 30%;border: none;right: 3.4%;}
    nav.lower-nav {height: 130px; background-size: 100% 100%;background-image: url("../images/mobile_header.png")}

    .out-pages-header h5 {padding: 101px 58px}
    .sidebar2 {display: block}

    /* Start Footer Only */
    .mobile_footer {display: block}
    .pc_footer {display: none}
    footer.mobile_footer  {background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
    footer.mobile_footer h5 {font-size: 20px; color: #fff; font-weight: bold}
    footer.mobile_footer h1 {font-size: 2.2rem; color: #fff; }
    /*footer h1 {font-size: 20px; color: #fff; font-weight: bold}*/
    footer.mobile_footer section div.row{margin: 0 100px}
    footer.mobile_footer i {font-size: 18px;}
    footer.mobile_footer button  {margin:10px 0 0 0;width: 100%}
    footer.mobile_footer button:hover  {background-color: #2761ab}
    .mobile_footer .last_part {background:rgba(0,0,0,.5); }
    .mobile_footer .last_part p {padding: 5px 0}
    .mobile_footer .top_part img {width: 131px;padding: 10px;background: #fff;border-radius: 22px;margin: -48px 13px 0 0;}
    .mobile_footer .top_part p {font-size: 11px;line-height: 23px;}
    .mobile_footer .top_part h1 {font-weight: bold;line-height: 0;margin-top: 19px;font-size: 2.5rem;}
    footer.mobile_footer  .services_footer h1{color: #fbb03d;font-weight: bold}
    footer.mobile_footer  p {color: #fff;margin-bottom: 0;}
    footer.mobile_footer  span {color: #fff;font-weight: normal;}
    footer.mobile_footer  ul  {padding-left: 0}
    footer.mobile_footer  ul li {line-height: 30px; display: inline-block}
    footer.mobile_footer  h1.hover-underline-animation {display: inline-block;position: relative;text-decoration: underline;text-underline-offset: 17px;line-height: 71px;}
    footer.mobile_footer  h1.hover-underline-animation:after, .services_footer_menu .hover-underline-animation:after {content: '';position: absolute;width: 100%;transform: scaleX(0);height: 5px;bottom: 0;left: 0;background-color: #f2cf5c;transform-origin: bottom right;transition: transform 0.25s ease-out;}
    footer.mobile_footer  h1.hover-underline-animation:hover:after {transform: scaleX(1);transform-origin: bottom left;}
    .mobile_footer .services_footer_menu .hover-underline-animation {display: inline-block;position: relative;line-height: 43px;}
    .mobile_footer .services_footer_menu .hover-underline-animation:hover:after {transform: scaleX(1);transform-origin: bottom left;}
    .mobile_footer .services_footer_menu li {display: list-item;list-style: inside}
    .mobile_footer .social_footer_menu li {display: inline-block;width: 70px;text-align: center }
    .mobile_footer .social_footer_menu a { color: #fff; text-decoration: none}
    .mobile_footer .fb_img, .twitter_img, .linkedin_img {width: 57px;}
    .mobile_footer .whats_img {width: 61px;}
    .mobile_footer .location_img {width: 44px;}
    .mobile_footer .behance_img {width: 62px;}
    .mobile_footer .social_footer_menu ul {padding-right: 0}
    .mobile_footer .services_menu_line ul li {line-height: 24px!important;}
    footer.mobile_footer h1.quick_h1 {font-size: 28px}

    /* End Footer Only */

    /* Start Events Carousel */
    .events_carousel {margin-top: 6rem}
    .event-details {margin-right: 19px}
    .event-details h1{font-size: 1.3em}
    /* End Events Carousel */

    /* Start About us  */
    .about_section .headline_div {margin-top: 2rem!important;}
    .setting_desc {padding-right: 0;margin: 1rem !important;}
    .about_section div.space{height: 17px}
    .service_title h1{margin-top: 1rem;font-size: 29px}
    .mobile_view_single_service {display: block}
    .pc_view_single_service {display: none}

    /* End About us */

    /* Start Jobs */
    .job_card {border-right: none}
    /* End Jobs */


    /* Start Projects */
    .projects_section .cards {grid-template-columns: none;}
    /* End Projects */



}
/*less then 992px and more than 768*/
@media only screen and (max-width:993px) and (min-width:768px)
{


}

/*less then1140px and less than 993*/
@media only screen and (max-width:1140px) and (min-width: 993px)
{

}

@media only screen and (max-width:1366px) and (min-width: 1141px)
{

}
